@mixin transition($property) {transition: $property .25s;}

html {font: 20px 'Open Sans Condensed', 'Roboto Condensed', Verdana, sans-serif;}
h1 {font-size: 2.25em;}
h2 {font-size: 2em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.5em;}
p {font-size: 1.25em;}
		
.wrapper {
	margin: auto;
	width: 60%;
}	
.bw {
	margin: auto;
	width: 100%;
	justify-content: center;
	display: flex;
}
header,
nav,
section,
footer {
	background: whitesmoke;
	float: left;
	width: 100%;
}
h1 {
	text-align: center;
}
a {
	text-decoration: none;
	transition: color .25s;
}
img {
	width: 800px;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

.redbutton {
	background-color: red;
}
.bluebutton {
	background-color: blue;
}
.yellowbutton {
	background-color: orange;
}

.button:hover {
	background-color: green;
	color: white;
}
.redbutton:hover {
	background-color: darkred;
}
.bluebutton:hover {
	background-color: darkblue;
}
.yellowbutton:hover {
	background-color: red;
}

.link {
	font-weight: bold;
	color: red;
}

nav h1 {
	float: left;
	font-size: 2.5em;
	text-transform: uppercase;
	margin-left: 1em;
}

.nav-ul {
	display: flex;
}

.header {
	text-align: center;
	font-size: 30px;
}

a:link {
	color: pink;
}
a:visited {
	color: pink;
}
a:hover {
	color: red;
}

.active:link {
	color: red;
}
.active:visited {
	color: red;
}

.amogus:link {
	color:  hotpink;
}
.amogus:visited {
	color:  hotpink;
}

footer {
	text-align: center;
	background: whitesmoke;
}
header .nav-ul {
	justify-content: right;
	text-transform: uppercase;
	font-size:  2em;
	margin-right: 1em;
}
footer .nav-ul {
	justify-content: center;
	font-size:  1em;
}
footer a {
	font-weight: bold;
}
section h1 {
	margin-left: 1rem;
}
article {
	margin-left: 1rem;
}

nav a {
	float: left;
}

nav a img {
	margin-top: 30px;
}


.logo {
	width: 300px;
	display: block;
}